
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>Name</th>
            <th>Item Count</th>
            <th>Color</th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <% @home.lists.each do |list| %>
              <tr>
                <td> <%= form_for [list] do |f| %>
                    <div class="row">
                    <div class="col-md-4">
                    <%= f.hidden_field :home_id, value: "#{@home.id}"  %>
                    <%= f.text_field :name, class: "form-control", :required => true, placeholder: "List Name" %>
                    </div>
                    <div class="col-md-4">
                    <%= f.submit "Update Name", class: "btn btn-sm btn-primary pull-right" %>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                  <% end %></td>
                <td><%= list.items.count %></td>
                <td></td>
                <td></td>
                <td><%= button_to "Delete", list, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div><br><br>
