<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title ">Existing Lists</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>Name</th>
            <th>Item Count</th>
            <th>Color</th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <% @home.lists.each do |list| %>
              <tr>
                <td><%= link_to list.name, user_home_list_path(current_user, @home.id, list.id), data: { turbolinks: 'false' } %></td>
                <td><%= list.items.count %></td>
                <td></td>
                <td><%= button_to "Rename", edit_user_home_list_path(current_user, @home.id, list.id), method: :get %></td>
                <td><%= button_to "View/Edit", user_home_list_path(current_user, @home.id, list.id), method: :get %></td>
                <td><%= button_to "Delete", list, method: :delete, data: { confirm: "Are you sure? This cannot be undone." }%></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div><br><br>
      <div class="card-header card-header-success">
        <h3 class="card-title">Create New List</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>