<% @bridges.each do |b| %>
<div class="card-body">
  <%= form_for [@home, b] do |bridge| %>
    <% if b.username == nil %>
      <h3>We found <%= @bridges.count %> Hue Bridge on your network. You will need to allow HomeBoard to connect to your Hue Bridge to complete setup.</h3>
      <br><ol>
        <li>Go to your Hue Bridge and press the circular button on top.</li>
        <li>This page will update automatically once the connection is confirmed.</li>
      </ol><br>
      <% end %>
    <h3>Bridge Details</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= bridge.hidden_field :home_id, value: "#{@home.id}"  %>
          <%= bridge.label :internalip, "IP Address", class: "bmd-label-floating" %>
          <%= bridge.text_field :internalip, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= bridge.hidden_field :home_id, value: "#{@home.id}"  %>
          <%= bridge.label :identifier, "Identifier", class: "bmd-label-floating" %>
          <%= bridge.text_field :identifier, class: "form-control", disabled: true %>
        </div>
      </div>
    </div>
    <h4 class="text-danger"><%= flash[:error] %></h4>
    <%= bridge.submit "Connect", class: "btn btn-primary pull-right" %>
    <div class="clearfix"></div>
  <% end %>
</div>
<% end %>