<% @bridges.each do |b| %>
<div class="card-body">
  <%= form_for [@home, b] do |bridge| %>
    <% if b.username == nil %>
      <h3>We found <%= @bridges.count %> Hue Bridge on your network. You will need to allow HomeBoard to connect to your Hue Bridge to complete setup.</h3>
      <br><ol>
        <li>Go to your Hue Bridge and press the circular button on top.</li>
        <li>This page will update automatically once the connection is confirmed.</li>
      </ol><br>
      <% end %>
    <h3>Bridge Details</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= bridge.hidden_field :home_id, value: "#{@home.id}"  %>
          <%= bridge.label :internalip, "IP Address", class: "bmd-label-floating" %>
          <%= bridge.text_field :internalip, class: "form-control", disabled: true %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= bridge.hidden_field :home_id, value: "#{@home.id}"  %>
          <%= bridge.label :identifier, "Identifier", class: "bmd-label-floating" %>
          <%= bridge.text_field :identifier, class: "form-control", disabled: true %>
        </div>
      </div>
    </div>
    <div class="col">
    <% if b.username.nil? %>
        <br>
    <%= bridge.submit "Connect", class: "btn btn-primary pull-right" %>
      <% else %>
      <br>
      <h4 class="text-success">Bridge setup has been completed!</h4>
        <br>

        <h4>HomeBoard automatically found and added the following to your Hue Widget: </h4>
        <div class="card-body" id="hue-details">
          <div class="row text-center">
          <div class="col" id="bridge-finds">
        <h5><%= b.bulbs.count %> bulbs</h5>
          </div>
          <div class="col" id="bridge-finds">
          <h5><%= b.groups.count %> groups</h5>
        <ul class="text-left">
        <% b.groups.each do |group| %>
          <li><%= group.name %></li>
            <% end %>
        </ul>
          </div>
          <div class="col" id="bridge-finds">
          <h5><%= b.scenes.count %> scenes</h5>
          </div>
        </div>
        </div>

      <% end %>
    <div class="clearfix"></div>
  <% end %>
  </div>
  <div class="col">
    <br>
    <%= button_to "Return to Dashboard", user_home_path(current_user, @home), method: :get, class: "btn pull-right", style: "background-color: yellow;" %>
  </div>
</div>
<% end %>