<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title ">Existing Homes</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>List Settings</th>
              <th>Home Settings</th>
              <th></th>
            </thead>
            <tbody>
            <% @user.homes.each do |home| %>
              <tr>
                <td><%= home.id %></td>
                <td><%= home.name %></td>
                <td><%= home.address %></td>
                <td><%= link_to "View/Edit Lists", user_home_lists_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td><%= link_to "View/Edit Home", edit_user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
                <td><%= link_to "Go to Dashboard", user_home_path(current_user, home.id), data: { turbolinks: 'false' } %></td>
              </tr>
              <%end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>