<%= form_for @home do |f| %>
    <% if @home.errors.any? %>
      <div id="error_explanation">
        <h4 class="text-danger">
          <%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:
        </h4>

        <ul>
          <% @home.errors.full_messages.each do |message| %>
            <li class="text-danger font-weight-bold"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :name, "Home Name", class: "bmd-label-floating" %>
          <%= f.text_field :name, class: "form-control", :required => true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :street, "Street", class: "bmd-label-floating" %>
          <%= f.text_field :street, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :city, "City", class: "bmd-label-floating" %>
              <%= f.text_field :city, class: "form-control", :required => true %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :zip_code, "Zip Code", class: "bmd-label-floating" %>
              <%= f.number_field :zip_code, class: "form-control", :required => true %>
            </div>
          </div>
    </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :state, "State", class: "bmd-label" %><br>
        <%= f.select :state, options_for_select(@states), {}, {class: "form-control", required: true, placeholder: "Select State"} %>
      </div>
    </div>
  </div>
    <%= f.submit class: "btn btn-primary pull-right" %>
  <div class="clearfix"></div>
<% end %>
