<div class="card-body">
  <%= form_for [@user, @home] do |f| %>
    <% if @home.errors.any? %>
      <div id="error_explanation">
        <h4 class="text-danger">
          <%= pluralize(@home.errors.count, "error") %> prohibited this home from being saved:
        </h4>
        <ul>
          <% @home.errors.full_messages.each do |message| %>
            <li class="text-danger font-weight-bold"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4><b><u>Home Information</u></b></h4>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="form-group">
          <%= f.hidden_field :user_id, value: "#{@user.id}" %>
          <%= f.label :name, "Home Name", class: "bmd-label-floating" %>
          <%= f.text_field :name, class: "form-control", :required => true, placeholder: "ex - Kerbo Family, The West Home" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="form-group">
          <%= f.label :street, "Street", class: "bmd-label-floating" %>
          <%= f.text_field :street, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :city, "City", class: "bmd-label-floating" %>
          <%= f.text_field :city, class: "form-control", :required => true %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :zip_code, "Zip Code", class: "bmd-label-floating" %>
          <%= f.number_field :zip_code, class: "form-control", :required => true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :state, "State", class: "bmd-label" %><br>
          <%= f.select :state, options_for_select(@states, @home.state), {}, {class: "form-control", required: true, placeholder: "Select State"} %>
        </div>
      </div>
    </div>
    <br>

    <br>
    <h4><b><u>Widgets</u></b></h4>
    <h5 class="text-warning">Select widgets that you would like to show on your HomeBoard. Widgets can be added or
      removed as needed.</h5>
    <br>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>Home</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :home_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :home_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Displays the home name, a clock, current date, and the quote of the day.</p>
        </div>
        <div class="col">
          <%= image_tag("home_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>Weather</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :weather_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :weather_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Displays current weather data and a 5-day weather forecast based on the location of your home.</p>
        </div>
        <div class="col">
          <%= image_tag("weather_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>Calendar</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :calendar_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :calendar_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Displays an embedded Google calendar of your choice and includes a function to add events to the
            calendar.</p>
        </div>
        <div class="col">
          <%= image_tag("calendar_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>Pets</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :pet_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :pet_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Provides 2 status trackers to keep tabs on actions needed for your pets, such as feeding and walking.</p>
        </div>
        <div class="col">
          <%= image_tag("pet_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>List</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :list_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :list_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Allows for creation and displays of lists. You can create as many lists as you need.</p>
        </div>
        <div class="col">
          <%= image_tag("list_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="card">
      <br>
      <div class="row">
        <div class="col-md-12">
          <h5>Philips Hue</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <%= f.hidden_field :hue_widget, value: "false" %>
            <label class="switch">
              <%= f.check_box :hue_widget, {class: "form-check-input"}, true, false %>
              <span class="light-switch round"></span>
            </label>
          </div>
        </div>
        <div class="col">
          <p>Displays controls for any lights, groups (rooms), and scenes you have set up with Philips Hue. A Hue bridge
            and bulbs are <i>required</i> for this widget to function.</p>
        </div>
        <div class="col">
          <%= image_tag("hue_widget.png", class: "img-fluid") %>
        </div>
      </div>
      <br>
    </div>
    <div class="row">
      <br><br>
      <div class="col-md-12 pull-right">
        <%= f.submit class: "btn btn-primary pull-right" %>
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>

