<% @lists.each do |list| %>
<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title"><%= list.name %>
            <% if list.name == "" %>
               <% name = "Default List"  %>
              <%= name %>
              <%end %>
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="form-group">
          <% if list.name == "" %>
            <h4 class="text-center"><%= 'This is a default list created for you, you should' %>
            <%= link_to "change the name" + '.', edit_user_home_list_path(@user, @home, list), data: { turbolinks: 'false' } %>
            </h4>
          <% end %>
        <%= form_for [@user, @home, list, @new_item], remote: true do |f| %>
          <%= f.text_field :description, :class => "form-control text-center", :placeholder => (@new_item.errors.full_messages_for(:description).first || "Enter a new item..."), id: "addItem" %>
          <%= f.submit :style => "display: none", data: { disable_with: "Please wait..."} %>

        <% end %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active" id="LISTNAME">
          <section class="main">
            <ul class="todo-list">
              <% list.items.each do |item| %>
                <li class="<%= "completed" if item.complete? %>">
                  <div class="view">
                    <%= form_for [list, item], remote: true do |f| %>
                      <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>
                      <%= f.submit :style => "display: none", data: { disable_with: "Please wait..."} %>
                    <% end %>
                    <label><%= item.description %></label>
                  </div>
                </li>
              <% end %>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>