
  <div class="card card-stats" id="weather_widget">
    <div class="card-header card-header-success card-header-icon">
      <div class="card-icon">
        <img class="d-md-block mx-auto" src="<%= image_path("icons/#{@today.icon}.svg") %>" alt="">
      </div>
      <h4 class="card-title"><%= @home.city %>, <%= @home.state %></h4>
      <h5 class="card-title"><%= @today.current_temp.round %>°</h5>
      <p class="card-title" style="font-style: italic; font-size: small">Feels like <%= @today.feels_like.round %>°</p>
      <h4 class="card-title"></h4>
      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="weather col-md-4">
              <img class="d-md-block mx-auto" src="<%= image_path('icons/temp_cold.svg') %>" alt="">
              <p class="card-category" style="text-align: center"><%= @today.temp_high.round %>°/<%= @today.temp_low.round %>°</p>
            </div>
            <div class="weather col-md-4">
              <p class="card-category" style="text-align: center"><%= @today.summary %></p>
            </div>
            <%unless !@today.precipitation_type.nil? %>
              <div class="weather col-md-4">
                <img class="d-md-block mx-auto" src="<%= image_path('icons/precip_chance.svg') %>" alt="">
                <p class="card-category" style="text-align: center">0%</p>
              </div>
              <% end %>
            <%unless @today.precipitation_type.nil? %>
            <div class="weather col-md-4">
              <img class="d-md-block mx-auto" src="<%= image_path('icons/precip_chance.svg') %>" alt="">
              <p class="card-category" style="text-align: center"><%= @today.precipitation_chance %>%</p>
            </div>
            <div class="weather col-md-4">
              <img class="d-md-block mx-auto" src="<%= image_path("icons/#{@today.precipitation_type}.svg") %>" alt="">
              <p class="card-category" style="text-align: center"><%= @today.precipitation_type.titleize %></p>
            </div>
              <% end %>
            <div class="weather col-md-4">
              <img class="d-md-block mx-auto" src="<%= image_path('icons/sunrise.svg') %>" alt="">
              <p class="card-category" style="text-align: center"><%= @today.sunrise %></p>
            </div>
            <div class="weather col-md-4">
              <img class="d-md-block mx-auto" src="<%= image_path('icons/sunset.svg') %>" alt="">
              <p class="card-category" style="text-align: center"><%= @today.sunset %></p>
            </div>
          </div>
          <br>
          <div class="row">
            <% @forecast.each do |day| %>
            <div class="col weather">
              <p class="card-category h6" style="text-align: center; font-size: small"><%= day.date %></p>
              <img class="d-md-block mx-auto" style="width: 20px; height: 20px;" src="<%= image_path("icons/#{day.icon}.svg") %>" alt="">
              <p class="card-category h6" style="text-align: center; font-size: x-small"><%= day.temp_high.round %>°/<%= day.temp_low.round %>°</p>
            </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons">date_range</i> Updated: <%= @weather_widget.updated_at.strftime('%l:%M %P') %>
      </div>
    </div>
  </div>

