
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">home</i>
            </div>
            <h3 class="card-title"><%= @home.name %></h3>
            <p class="card-category"><%= @home.address %></p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">format_paint</i>
              <a href="javascript:;">Edit Home Info</a>
            </div>
          </div>
        </div>
      </div>
      <%= render 'weather_widget' %>
      <%= render 'pet_widget' %>
      <%= render 'network_widget' %>
    <div class="row">
      <%= render 'tasks_widget' %>
      <%= render 'grocery_widget' %>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();

    });
    function updateFeedingStatus(id) {
        var x = document.getElementById(id);
        if (x.innerHTML === "") {
            x.innerHTML = new Date;
        } else {
            x.innerHTML = "";
        }
    }
    function updateButtonStatus(id) {
        var x = document.getElementById(id);
        if (x.innerHTML != "Reset Status") {
            x.innerHTML = 'Reset Status';
        } else {
            x.innerHTML = "Log A Feeding";
        }
    }
</script>
