<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">home</i>
            </div>
            <h3 class="card-title"><%= @home.name %></h3>
            <p class="card-category"><%= @home.address %></p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">format_paint</i>
              <a href="javascript:;">Edit Home Info</a>
            </div>
          </div>
        </div>
      </div>
      <% if @home.weather_widget? %>
        <%= render 'weather_widget' %>
      <% end %>
      <% if @home.pet_widget? %>
        <%= render 'pet_widget' %>
      <% end %>
    </div>
    <div class="row">
      <%= render 'network_widget' %>
      <% if @home.list_widget? %>
        <%= render 'list_widget' %>
      <% end %>
    </div>
  </div>
</div>
</div>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();
    });
    function updateFeedingStatus(id) {
        var x = document.getElementById(id);
            x.innerHTML = new Date().getTime();
    }
    function updateButtonStatus(id) {
        var x = document.getElementById(id);
        if (x.innerHTML != "Log Feeding") {
            x.innerHTML = 'Update Fed Time';
        } else {
            x.innerHTML = "Update Fed Time";
        }
    }
</script>