<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
      <%= render 'home_widget' %>
      <% if @home.weather_widget? %>
        <%= render 'weather_widget' %>
      <% end %>
        </div>
      </div>
      <div class="col-lg-4" id="pet">
      <% if @home.pet_widget? %>
        <%= render 'pet_widget' %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <% if @home.calendar_widget? %>
        <%= render 'calendar_widget' %>
      <% end %>
      <% if @home.list_widget? %>
        <div class="col-lg-6" id="list">
        <%= render 'list_widget' %>
        </div>
      <% end %>
    </div>
    <div class="row" id="hue">
      <% if @home.hue_widget? %>
        <%= render 'homes/hue_widget'%>
      <% end %>
    </div>
  </div>
</div>
</div>
