<!DOCTYPE html>
<html>
  <head>
    <title>HomeBoard2</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
  </head>
  <body data-turbolinks="false">
  <header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="<%= user_homes_path(current_user) %>">HomeBoard</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% unless @home.id.nil? %>
              <a class="dropdown-item" href="<%= edit_user_home_path(current_user, @home) %>">Home Settings</a>
                <% end %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= user_homes_path(current_user) %>">My Homes</a>
            </div>
          </li>
          <a class="nav-link" href="<%= destroy_user_session_path %>">Logout <span class="sr-only">(current)</span></a>
        </ul>

      </div>


    </nav>

  </header>
 <% flash.each do |name, message| %>
      <% if name =="error" %>
        <div class="alert alert-danger" role="alert">
        <%= message %>
        </div>
      <% else %>
        <div class="alert alert-success" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>
      <!-- End Navbar -->
    <%= yield %>
    <footer class="footer">
      <div class="container">
        <nav class="text-center">
        </nav>
        <div class="text-center">
          &copy; HomeBoard
          <script>
              document.write(new Date().getFullYear())
          </script>
        </div>
      </div>
    </footer>
  </body>
</html>